# Default
* @jhendrixMSFT @RickWinter @xirzec @HeathS

# codegen (autorest and typespec)
/packages/typespec-rust       @jhendrixMSFT @RickWinter @xirzec @HeathS @antkmsft

# Git Hub bot rules
/.github/CODEOWNERS   @jhendrixMSFT @RickWinter @xirzec @HeathS @jsquire
/.github/fabricbot.json  @jsquire
